@model EFarming.Models.IrrigationMode

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<div>
    <h4>Irrigation Mode</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FarmZoneId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FarmZoneId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
